body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navbar Web*/
nav{
    margin-right: 80px;
    margin-left: 60px;
}

.nbox{
    padding: 5px;
    display: flex;
    justify-content: space-between;

    /* animation */
    animation-timing-function: ease-out;
    animation-duration: 4s;
    animation-delay: 2s; 
}

.nbox1, .nbox2{
    display: flex;
}

.nbox1 ul, .nbox2 ul{
    display: flex;
    gap: 20px;
}

.nbox1 ul li, .nbox2 ul li{
    display: flex;
    text-align: center;
    padding: 5px;
}

.nbox1 ul li a, .nbox2 ul li a{
    text-decoration: none;
    font-size: 16px;
    color: darkslategrey;
}

.nbox ul li:hover{
    text-decoration: underline;
}

.nbox1 img{
    width: 140px;
}


/* header-banner */
.banner{
    background-color: skyblue;
    height: 560px;
    display: flex;
}

.banner_container{
    display: flex;
    align-items: center;
}

.banner_container .btext{
    padding: 90px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.banner_container .btext p{
    font-size: 20px;
    margin-top: -10px;
}

.banner_container .btext h1{
    font-size: 40px;
}

.banner_container .blink a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

.banner_container .blink a i{
    font-size: 15px;
    margin-left: 5px;
}

.banner_container .blink:hover{
    text-decoration: none;
}

.banner_container .blink button{
    padding: 10px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

.banner_container .bimg img{
    padding: 5px;
    width: 660px;
    height: 540px;
}


/* Selection1 */
.selection1{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.selection1 i{
    font-size: 50px;
}

.As1, .As2, .As3{
    display: flex;
    flex-direction: column;
}

.selection1 a{
    text-decoration: none;
    font-size: 15px;
    color: darkslategray;
}

.selection1 a:hover{
    text-decoration: underline;
}


/* Selection2 */
.selection2_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 58px;
}

.selection2 img{
    width: 270px;
}

.Bs1{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 270px;
}
.Bs1 h2, .Bs2 h2, .Bs3 h2, .Bs4 h2{
    margin-top: 8px;
}

.Bs1 p{
    margin-top: -10px;
}

.Bs1  i{
    font-size: 15px;
    margin-left: 5px;
}

.Bs2{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 270px;
}

.Bs2 p{
    margin-top: -10px;
}

.Bs2  i{
    font-size: 15px;
    margin-left: 5px;
}

.Bs3{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 270px;
}

.Bs3 p{
    margin-top: -10px;
}

.Bs3  i{
    font-size: 15px;
    margin-left: 5px;
}

.Bs4{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 270px;
}

.Bs4 p{
    margin-top: -10px;
}

.Bs4 i{
    font-size: 15px;
    margin-left: 5px;
}


/* Middle Banner */
.banner2{
    background-color: darksalmon;
    padding: auto;
    margin: auto;
    width: 1100px;
    height: 500px;
    display: flex;
}

.banner_container{
    display: flex;
    align-items: center;
}

.banner2_container{
    display: flex;
    align-items: center;
    padding: 10px;
}

.banner2_container .btext2{
    padding: 90px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.banner2_container .btext2 p{
    font-size: 20px;
    margin-top: -10px;
}

.banner2_container .btext2 h1{
    font-size: 40px;
}

.banner2_container button{
    padding: 10px;
    background-color: cornflowerblue;
    color: aliceblue;
    border: none;
    width: 150px;
    cursor: pointer;
}

.banner2_container .bimg2 img{
    padding: 5px;
    width: 600px;
    height: 480px;
}


/* Bisnis Selection */
.Bselection_container{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 58px;
}

.Bselection h1{
    margin-left: 90px;
    font-size: 30px;
}

.Bselection_container{
    margin-top: -10px;
}

.Cs1{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.Cs1 h2{
    font-size: 25px;
}

.Cs1 p{
    margin-top: -5px;
}

.Cs1 i{
    font-size: 15px;
    margin-left: 5px;
}

.Cs2{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.Cs2 h2{
    font-size: 25px;
}

.Cs2 p{
    margin-top: -5px;
}

.Cs2 i{
    font-size: 15px;
    margin-left: 5px;
}

.Cs3{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.Cs3 i{
    font-size: 15px;
    margin-left: 5px;
}

.Cs3 p{
    margin-top: -5px;
}

.Cs3 h2{
    font-size: 25px;
}

.Cs4{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 250px;
}

.Cs4 h2{
    font-size: 25px;
}

.Cs4 p{
    margin-top: -5px;
}

.Cs4 i{
    font-size: 15px;
    margin-left: 5px;
}

/* up button */
.upbutton{
    margin-left: 1100px;
}

.upbutton button{
    border: none;
    background-color: grey;
    padding: 10px;
    cursor: pointer;
}

.upbutton button i{
    margin-right: 10px;
}


/* footer */
footer{
    background-color: rgb(219, 219, 219);
    height: 400px;
}

.footer{
    justify-content: space-around;
    display: flex;
}

.footer h3{
    font-size: 18px;
}

.footer ul{
    padding: 10px;
    list-style: none;
}

.footer ul li{
    margin: 10px;
    font-size: 14px;
}

.footer ul li a{
    text-decoration: none;
    color: darkslategrey;
}

.footer ul li a:hover{
    text-decoration: underline;
}

.footer2{
    background-color: gainsboro;
    justify-content: space-between;
    margin-right: 20px;
    display: flex;
    height: 50px;
}

.footer2 .Ef1 ul, .Ef2 ul{
    list-style: none;
}

.footer2 .Ef1 ul, .Ef2 ul{
    display: flex;
    gap: 10px;
}

.footer2 .Ef1 ul li, .Ef2 ul li{
    font-size: 14px;
    margin-left: 15px;
}

.footer2 .Ef1 ul li a, .Ef2 ul li a{
    color: darkslategray;
}

.footer2 .Ef1 ul li i, .Ef2 ul li i{
    font-size: 18px;
    margin-right: 10px;
}